<div class="hero">
  <div class="container is-widescreen column is-vcentered makeCentered">
    <div class="column container is-widescreen warning">
      <h1 class="display404">404</h1>
      <h2>IT'S DANGEROUS TO GO</h2>
      <h2>ALONE! TAKE THIS.</h2>
      <a href="">
        <img id="sword" src="./sword.png">
      </a>
    </div>
  </div>
</div>