<div class="hero">
    <div class="container is-widescreen column is-vcentered makeCentered">
        <div class="column container is-widescreen">
            <h1 class="pressStart">PRESS START</h1>
            <a class="button is-danger start" href="/login">
                START
            </a>
        </div>
    </div>
</div>