<div class="hero level">
    <div class="container is-widescreen column is-centered">
        <div class="column">
            <h1>Welcome to VideoGamesWebsite</h1>
            <h2 class="level-item">Press Start!</h2>
            <a class="button is-danger level-item has-text-centered">
                Start
            </a>
        </div>
    </div>
</div>