<div>
    <div class="columns is-mobile is-centered">
        <form class="column is-half" id="loginForm">
            <div class="control has-icons-left">
                <input class='input is-primary' id="loginEmail" type="email" placeholder="Email"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input class='input is-primary' id='loginPassword' type="password" placeholder="Password"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div class="buttons column is-half is-offset-one-third">
                <button class='button is-primary is-rounded' type="submit">
                <span class="icon">
                    <i class="fas fa-play"></i>
                </span>
                <span>Continue</span>
                </button>
            </div>
        </form>
    </div>

    <div class="columns is-mobile is-centered">
        <form class="column is-half" id="signupForm">
            <div class="control has-icons-left">
                <input class='input is-link' id="signupName" type="text" placeholder="Name"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
            </div>
            <div class="control has-icons-left">
                <input class='input is-link' id="signupEmail" type="email" placeholder="Email"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
             <div class="control has-icons-left">
                <input class='input is-link' id="signupPassword" type="password" placeholder="Password"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div class="buttons column is-half is-offset-one-third">
                <button class='button is-link is-rounded is-half' type="submit">
                <span class="icon">
                    <i class="fas fa-folder-plus"></i>
                </span>
                <span>New Game</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>