<div>
    <div>
        <h2 class="notification is-primary">Continue</h2>

        <form>
            <div class="control has-icons-left">
                <input class='input is-primary' type="email" placeholder="Email"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input class='input is-primary'type="password" placeholder="Password"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>

    <div>
        <h2 class="notification is-danger">New Game</h2>

        <form>
            <div class="control has-icons-left">
                <input class='input is-danger'type="text" placeholder="Name"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
            </div>
            <div class="control has-icons-left">
                <input class='input is-danger' type="email" placeholder="Email"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
             <div class="control has-icons-left">
                <input class='input is-danger' type="password" placeholder="Password"/>
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>