<div class="navbar-menu">
  <div class="navbar-end">
    <button class="logoutButton button is-light">Logout</button>
  </div>
</div>

<section class="main-content columns is-fullheight">
  <aside class="column is-2 is-narrow-mobile is-fullheight section">
    <p class="menu-label">Your Game Library</p>
    <ul class="menu-list">
      <li>
        <p class="ownedGame">Sonic</p>
        <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
      </li>
      <li>
        <p>Mario</p>
        <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
      </li>
      <li>
        <p>Pokemon</p>
        <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
      </li>
    </ul>
  </aside>

  <div class="container column is-10">
    <div class="section">

      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="ownedGame">Sonic</h2>
              <p class="review">Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
            </div>
          </div>
        </article>
      </div>
      <br />

      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2>Mario</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
            </div>
          </div>
        </article>
      </div>
      <br />

    </div>
  </div>
</section>