<section class="main-content columns is-fullheight">
  <aside class="column is-2 is-narrow-mobile is-fullheight section">
    <p class="menu-label">Your Games</p>
    <ul class="menu-list">
      <li>
        <p class="ownedGame libraryTitle">Sonic</p>
        <figure class="image is-3by4">
          <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
        </figure>
      </li>
      <li>
        <p class="libraryTitle">Mario</p>
        <figure class="image is-3by4">
          <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
        </figure>
      </li>
      <li>
        <p class="libraryTitle" id="gameTitle">Pokemon</p>
        <figure class="image is-3by4">
          <img src="https://bulma.io.images/placeholders/128x128.png" alt="">
        </figure>
      </li>
    </ul>
  </aside>

  <div class="container column is-8">
    <div class="section">
      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="ownedGame">Sonic</h2>
              <p class="review" id="userReview">Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
            </div>
          </div>
        </article>
      </div>
      <br />

      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2>Mario</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
            </div>
          </div>
        </article>
      </div>
      <br />
    </div>
  </div>

  <div class="is-2">
    <button class="logoutButton button is-info is-outlines">Logout</button>
  </div>

</section>