<section class="main-content columns is-fullheight">
  <aside class="column is-2 is-narrow-mobile is-fullheight section">
    <p class="menu-label">Your Games</p>
    <ul class="menu-list">
      <li>
        <p class="ownedGame libraryTitle">Sonic Advance 3</p>
        <figure class="image is-3by3">
          <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Sonic_Advance_3_Coverart.png" alt="">
        </figure>
      </li>
      <li>
        <p class="libraryTitle">Mario Kart 8 Deluxe</p>
        <figure class="image is-3by4">
          <img src="https://m.media-amazon.com/images/I/51g8LljhiNL._AC_SY780_.jpg" alt="">
        </figure>
      </li>
      <li>
        <p class="libraryTitle">Pokemon Yellow Version</p>
        <figure class="image is-3by3">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Pokemon_Yellow.png/220px-Pokemon_Yellow.png" alt="">
        </figure>
      </li>
    </ul>
  </aside>

  <div class="container column is-8">
    <div class="section">
      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Sonic_Advance_3_Coverart.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2 class="ownedGame">Sonic Advance 3</h2>
              <p class="review">
              Yet again, another Sonic Advance in which replay value is practically zero if your trying to 
              collect all 7 Chaos Emeralds. Other then that, it's a Sonic game your sure to come back to 
              again and again. This Sonic game is probably the best of all 3. All zones are hold some sort 
              of appealing design to it, with a decent challenge, and the bosses have gotten even more 
              interesting then the last game.
              </p>
            </div>
          </div>
        </article>
      </div>
      <br />

      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://m.media-amazon.com/images/I/51g8LljhiNL._AC_SY780_.jpg" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2>Mario Kart 8 Deluxe</h2>
              <p>
                Brings back wonderful memories from the original but is updated enough to enjoy it with 
                the kids! Definitely a game to keep in your library instead to getting rid of when you are 
                done. Replay value is perfect.
                </p>
            </div>
          </div>
        </article>
      </div>
      <br />

      <div class="card">
        <article class="media">
          <figure class="media-left">
            <p>
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Pokemon_Yellow.png/220px-Pokemon_Yellow.png" alt="">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h2>Pokemon Yellow Version</h2>
              <p>
                Pokémon Yellow Version will always have a special place in my heart. For those who are a 
                fan of the classic anime, this is the game for you. Like Ash, you start out with Pikachu 
                and make it your goal to become the Pokémon Master. You have Pikachu tagging along while 
                fighting various gym leaders and even Team Rocket. 
                </p>
            </div>
          </div>
        </article>
      </div>
      <br />

      <div class="card">
        <form class="column" id="loginForm">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Game Name">
            </div>
          </div>
          <div class="control">
            <textarea class="textarea" placeholder="Review"></textarea>
          </div>
          <div class="buttons column">
            <button class='button is-primary is-rounded' id="continue" type="submit">
              <span>Add Game</span>
            </button>
          </div>
        </form>
      </div>
      <br />

    </div>
  </div>

  <div class="is-2">
    <button id="logout" class="logoutButton button is-info is-outlinesLo ">logout</button>
  </div>

<script src="../js/logout.js"></script>

</section>
