html {
    background-image: url('/images/bg2.png');
    /* background-image: url('/images/bg3.jpg'); */
    background-size: cover;
    min-height: 100%;
}

.siteName {
    font-size: 65px;
    padding-top: 10px;
    color: rgb(24, 36, 211);
    text-shadow: 0px 3px 3px rgb(90, 206, 214);

}

.makeCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
}

.pressStart {
    font-size: 25px;
    padding-bottom: 45px;
    font-family: 'Press Start 2P';
    color: rgb(90, 206, 214);
}

.start {
    font-size: 20px;
    font-family: 'Press Start 2P';
}

.start:hover {
    box-shadow: 0px 0px 10px rgb(236, 44, 44);
    transform: scale(1.1);
}

form {
    padding: 50px;
}

.control {
    margin-top: 5px;
}

.input {
    border-radius: 10px;
}

.buttons {
    margin: 10px;
}

#continue:hover {
    box-shadow: 0px 0px 10px rgb(90, 214, 208);
    transform: scale(1.1);
}

#newGame:hover {
    box-shadow: 0px 0px 10px rgb(97, 95, 255);
    transform: scale(1.1);
}

.button {
    margin: 10px;
    font-family: 'Press Start 2P';
}