.makeCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
}

.siteName {
    padding-top: 10px;
}
.welcome {
    font-size: 40px;
    padding-bottom: 15px;
}

.pressStart {
    font-size: 25px;
    padding-bottom: 45px;
    font-family: 'Press Start 2P';
}

.start {
    font-size: 20px;
    font-family: 'Press Start 2P';
}

.start:hover {
    box-shadow: 0px 0px 10px rgb(236, 44, 44);
    transform: scale(1.1);
}

form {
    padding: 50px;
}

.control {
    margin-top: 5px;
}

.input {
    border-radius: 10px;
}

.buttons {
    margin: 10px;
}

.button {
    margin: 10px;
    font-family: 'Press Start 2P';
}